<div class="col-md-4 card card-body offset-4 mt-5">
    <h5 class="float-left mb-5 bg-dark text-white">Change your password</h5>
    <form action="" #login='ngForm' method="POST" (ngSubmit)="changePassword(login)">
        <div class="form-group">
            <label for="" class="float-left">Security Question</label>
            <input type="text" name="regmail" class="form-control" #regmail='ngModel' ngModel placeholder="Enter your registerd mail Id" required>
            <div *ngIf="regmail.invalid && regmail.touched ">
                <p class="alert alert-danger" *ngIf='regmail.errors.required'>This field is required</p>
            </div>
        </div>
        <div class="form-group">
            <input type="password" name="newpassword" class="form-control" #newpassword='ngModel' ngModel placeholder="Type your new password" required>
            <div *ngIf="newpassword.invalid && newpassword.touched ">
                <p class="alert alert-danger" *ngIf='newpassword.errors.required'>This field is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary" [disabled]='login.invalid'>Change Password</button><br>
    </form>
</div>